@echo off
rem This is an example "build-all-clean.bat" file, used to build struts from 
rem a clean commons. 
rem What is needed is a good top level commons build.xml for ant/maven.
rem I know I could submit a patch.
rem
rem This bat file uses Cygwin to remove build directories since 
rem commons doesn't have an ant clean target. (HINT for COMMONS COMITTERS!)
rem Make any changes you need, and rename this file
rem to "build-all-clean.bat" and place it in the same directory that 
rem contains the Struts "build.xml" file.
rem 
rem assumes jakarta-commons, 
rem         jakarta-commons-sandbox,
rem         jakarta-struts-current
rem are checked out of CVS in the same directory.
rem Also assumes uses of 
rem           maven beta 7 or above,
rem           ant 1.5.1
rem           cactus v 1.2 & v1.3
rem              v 1.2 Because the commons (resources) use an old version
rem                    of cactus for units test, that maven doesn't precompile 
rem                    anymore. You'll need to copy the cactus.jar into the 
rem                    maven repository directory. I filed a bug report for this.
rem              
rem
rem $Id: build-all-clean.bat.sample,v 1.6 2003/02/08 19:31:52 rleland Exp $

cd ..

rem goto manualbuild

rm -rf */*/dist
rm -rf */*/target
rm -rf */*/build
rm -rf jakarta-struts-current/dist
rm -rf jakarta-struts-current/target

:manualbuild

SET CLEAN=clean

cd jakarta-commons

cd logging
call ant %CLEAN% dist

cd ..\collections
call ant %CLEAN% dist

cd ..\beanutils
call ant %CLEAN% dist

cd ..\lang
call ant %CLEAN% dist

cd ..\pool
call ant %CLEAN% dist

cd ..\dbcp
call ant %CLEAN% dist

cd ..\digester
call ant %CLEAN% dist

cd ..\discovery
call ant %CLEAN% dist

cd ..\validator
call ant %CLEAN% dist

cd ..\fileupload
call maven

cd ..\..\jakarta-commons-sandbox

cd resources
call maven

cd ..\..\jakarta-struts-current
call ant %CLEAN% dist

pause