# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Struts
# for your local environment.  Make any changes you need, and rename this file
# to "build.properties" in the same directory that contains the Struts
# "build.xml" file.
#
# The JARS required for each release or beta distribution are available
# as a single archive from the Struts downloads directory.
# Requirements for the Nightly Build may change between releases and betas.
#
# $Id: build.properties.sample,v 1.34 2003/03/29 14:20:09 jmitchell Exp $
# -----------------------------------------------------------------------------
compile.deprecation=true

# WARNING:  The relative paths below assume that the build.xml file is in the
# top-level directory of the jakarta-struts source distribution.

# commons-lib.home Where the CVS toplevel commons live
commons-lib.home=D:/Projects/Apache/jakarta-commons
# commons-sandbox.home Where the CVS toplevel commons-sandbox live.
commons-sandbox-lib.home=D:/Projects/Apache/jakarta-commons-sandbox
# apache.home - Where precompiled jar files form Apache live.
apache.home=D:/Java/Programs/Apache

# The directory containing your binary distribution of Tomcat 4.0 ("Catalina"
# is the servlet container part of this distribution), from CVS module
# "jakarta-tomcat-4.0" at jakarta.apache.org).  This is only required
# if you are going to execute the "deploy.catalina" target.
catalina.home=${apache.home}/jakarta-tomcat-4.0.6

# The JAR file containing the Beanutils package (Version 1.5 or later)
# from the Jakarta Commons project.

commons-beanutils.jar=${commons-lib.home}/beanutils/dist/commons-beanutils.jar

# The JAR file containing the Collections package (Version 2.1 or later)
# from the Jakarta Commons project.
commons-collections.jar=${commons-lib.home}/collections/dist/commons-collections.jar

# The JAR file containing the DBCP package (Version 1.0 or later)
# from the Jakarta Commons project.
commons-dbcp.jar=${commons-lib.home}/dbcp/dist/commons-dbcp.jar

# The JAR file containing the Digester package (Version 1.3 or later)
# from the Jakarta Commons project.
commons-digester.jar=${commons-lib.home}/digester/dist/commons-digester.jar

# The JAR file containing the FileUpload package (recent Nightly Build)
# from the Jakarta Commons project.
commons-fileupload.jar=${commons-lib.home}/fileupload/target/commons-fileupload-1.0-dev.jar

# The JAR file containing the Lang package (Version 1.1 or later)
# from the Jakarta Commons project.
commons-lang.jar=${commons-lib.home}/lang/dist/commons-lang-1.1.jar

# The JAR file containing the Logging package (Nightly Build or Version 1.0.3 or later)
# from the Jakarta Commons project.
commons-logging.jar=${commons-lib.home}/logging/dist/commons-logging.jar

# The JAR file containing the POOL package (Version 1.0.1 or later)
# from the Jakarta Commons project.
commons-pool.jar=${commons-lib.home}/pool/dist/commons-pool.jar

# The JAR file containing the Validator package (Version 1.0.1 or later)
# from the Jakarta Commons project.
commons-validator.jar=${commons-lib.home}/validator/dist/commons-validator.jar

# The JAR file containing the Jakarta ORO project version 2.06 (or later)
jakarta-oro.jar=${apache.home}/jakarta-oro-2.0.6/jakarta-oro-2.0.6.jar

# The JAR file containing the JDBC 2.0 Optional Package extensions API
# (javax.sql).  This file will automatically be added to your class path
# when you compile Struts
#
# This file can be obtained from:
# http://java.sun.com/products/jdbc/download.html
jdbc20ext.jar=../../../Java/Programs/sun/jdbc2_0-stdext.jar

# The JAR file containing the JSP API classes to compile against if you are
# using JSP 2.0 or later (where these classes are separated from servlet.jar).
# If you are using JSP 1.1 or 1.2, leave this property unset
#jsp.jar=${apache.home}/jakarta-servletapi/lib/jsp.jar

# The JAR file containing the Servlet API classes to compile against (either
# version 2.2 or 2.3)
servlet.jar=${apache.home}/jakarta-servletapi/lib/servlet.jar

# The directory containing your binary distribution of Tomcat 3.3, from CVS
# module "jakarta-tomcat" (and branch "TOMCAT_32") at jakarta.apache.org.
# This is only required if you are going to execute the "deploy.tomcat" target.
tomcat.home=${apache.home}/jakarta-tomcat-3.3.1

# The JAR file containing the Xerces parser.  This is only required if you are
# going to execute the "deploy.catalina" target.
xerces.jar=${apache.home}/xerces-1_4_4/xerces.jar

# Properties related to optional tasks
# ------------------------------------

# The JAR file containing the Checkstyle package version 2.4, if available. If
# you do not have Checkstyle installed, do not set this property.
checkstyle.jar = /Java/checkstyle-2.4/checkstyle-all-2.4.jar

# The JAR file containing the PMD package version 1.01, if available. If
# you do not have PMD installed, do not set this property.
pmd.jar = /Java/pmd/lib/pmd-1.01.jar

# Properties related to Struts Contrib
# -----------------------------------------

# These links to the JSTL jar files are only required for building the
# Struts-EL contrib library.  If they are not present, it will not build that
# contrib library (although it doesn't prevent you from building it directly in
# "contrib/struts-el".

jstl.home		=${apache.home}/jakarta-taglibs/standard-1.0
jstl.jar		=${jstl.home}/lib/jstl.jar
jstl-standard.jar	=${jstl.home}/lib/standard.jar

# Properties related to Struts unit testing
# Choose your Cactus!
# -----------------------------------------
# Cactus 12-1.3 home
#cactus.home=${apache.home}/jakarta-cactus-12-1.3
#cactus.lib=${cactus.home}/lib

# Cactus jar for the Servlet API corresponding to the servlet.jar file
# selected above (either 2.2 or 2.3)
#cactus.jar = ${cactus.lib}/cactus.jar

# Cactus Ant custom tasks jar
#cactus.ant.jar = ${cactus.lib}/cactus-ant.jar

# AspectJ from Cactus distribution
#aspectjrt.jar = ${cactus.lib}/aspectjrt.jar

# The httpunit runtime jar
#httpunit.jar = ${cactus.lib}/httpunit.jar

# -----------------------------------------
# Cactus 12-1.4 home
#cactus.home=${apache.home}/jakarta-cactus-12-1.4
#cactus.lib=${cactus.home}/lib

# Cactus jar for the Servlet API corresponding to the servlet.jar file
# selected above (either 2.2 or 2.3)
#cactus.jar = ${cactus.lib}/cactus-1.4.jar

# Cactus Ant custom tasks jar
#cactus.ant.jar = ${cactus.lib}/cactus-ant-1.4.jar

# AspectJ from Cactus distribution
#aspectjrt.jar = ${cactus.lib}/aspectjrt-1.0.5.jar

# The httpunit runtime jar
#httpunit.jar = ${cactus.lib}/httpunit-1.4.1.jar

# -----------------------------------------
# Cactus 12-1.4.1 home
#cactus.home=${apache.home}/jakarta-cactus-12-1.4.1
#cactus.lib=${cactus.home}/lib

# Cactus jar for the Servlet API corresponding to the servlet.jar file
# selected above (either 2.2 or 2.3)
#cactus.jar = ${cactus.lib}/cactus-1.4.1.jar

# Cactus Ant custom tasks jar
#cactus.ant.jar = ${cactus.lib}/cactus-ant-1.4.1.jar

# AspectJ from Cactus distribution
#aspectjrt.jar = ${cactus.lib}/aspectjrt-1.0.5.jar

# The httpunit runtime jar
#httpunit.jar = ${cactus.lib}/httpunit-1.4.1.jar

# -----------------------------------------
# Cactus 13-1.3 home
#cactus.home=${apache.home}/jakarta-cactus-13-1.3
#cactus.lib=${cactus.home}/lib

# Cactus jar for the Servlet API corresponding to the servlet.jar file
# selected above (either 2.2 or 2.3)
#cactus.jar = ${cactus.lib}/cactus.jar

# Cactus Ant custom tasks jar
#cactus.ant.jar = ${cactus.lib}/cactus-ant.jar

# AspectJ from Cactus distribution
#aspectjrt.jar = ${cactus.lib}/aspectjrt.jar

# The httpunit runtime jar
#httpunit.jar = ${cactus.lib}/httpunit.jar

# -----------------------------------------
# Cactus 13-1.4.1 home
cactus.home=${apache.home}/jakarta-cactus-13-1.4.1
cactus.lib=${cactus.home}/lib

# Cactus jar for the Servlet API corresponding to the servlet.jar file
# selected above (either 2.2 or 2.3)
cactus.jar = ${cactus.lib}/cactus-1.4.1.jar

# Cactus Ant custom tasks jar
cactus.ant.jar = ${cactus.lib}/cactus-ant-1.4.1.jar

# AspectJ from Cactus distribution
aspectjrt.jar = ${cactus.lib}/aspectjrt-1.0.5.jar

# The httpunit runtime jar
httpunit.jar = ${cactus.lib}/httpunit-1.4.1.jar


# URL used to run tests for cactus, change to non standard port
# if container is already running on that port.
cactus.contextURL = http://localhost:9090/test



# Ant Optional Jars for Junit task
ant.optional.jar = ${apache.home}/jakarta-ant-1.5.1/lib/optional.jar

# Ant Jar for optional taglib documentation task
ant.jar=${apache.home}/apache-ant-1.5.2/lib/ant.jar

# Httpclient from Jakarta-Commons
commons-httpclient.jar = ${commons-lib.home}/httpclient/dist/commons-httpclient.jar

# Log4J from Jakarta-Commons
log4j.jar = D:/Java/Programs/Apache/jakarta-log4j-1.2.6/dist/lib/log4j-1.2.6.jar

# JUnit jar file, version 3.81 or newer required.
junit.jar = /Java/Lib/Junit3.8.1/junit.jar

# Servlet engine locations for the tests

# Note: If you don't want to run the test on a given servlet engine, just
#       comment it's home property. For example, if you don't want to run the
#       tests on Tomcat 4.0, comment the "tomcat.home.40" property.

tomcat.home.33 = ${apache.home}/jakarta-tomcat-3.3.1
tomcat.home.40 = ${apache.home}/jakarta-tomcat-4.0.6
