# build.properties.sample
# -----------------------
#
# This file contains example property settings that you would use to customzie
# your build environment to build the Chain of Responsibility Library from
# source code.  To use this file, make a copy of it in "build.properties" and
# customize the values as required.
#
# $Id: build.properties.sample,v 1.3 2003/09/19 18:56:18 husted Exp $
#
### In order to build with Tomcat integration you must have the catalina-ant.jar in your CLASSPATH
### this is located under the jakarta-tomcat/server/lib directory


# The absolute or relative pathname of the directory containing your
# Servlet API classes JAR file (servlet.jar)
servlet.home=/usr/local/jakarta-tomcat-4.1.27/commons/lib


# The absolute or relative pathname of the Struts Nightly Build (2003/08/11 or later)
struts.home=/usr/local/jakarta-struts


# The absolute or relative pathname of the Commons Chain
# distribution
chain.home=/usr/local/jakarta-commons-sandbox/commons-chain/dist

