# Properties related to the user's environment. 

commons-validator.jar=d:/office/jakarta-commons/validator/dist/commons-validator.jar
commons-beanutils.jar=d:/java/lib/commons-beanutils.jar
commons-collections.jar=d:/java/lib/commons-collections.jar
commons-digester.jar=d:/java/lib/commons-digester.jar
struts.jar=d:/office/struts/jakarta-struts/target/library/struts.jar
struts.tlds=d:/office/struts/jakarta-struts/target/library
servlet.jar=e:/tomcat3/lib/servlet.jar
jdbc20ext.jar=d:/java/lib/jdbc2_0-stdext.jar
regexp.jar=e:/software/regexp/jakarta-regexp-1.2.jar
xerces.jar=e:/software/xerces/xerces.jar
