H1.ChapTitle, H2.ChapTitle, H3.ChapTitle, H4.ChapTitle, H5.ChapTitle, H6.ChapTitle {
  display: block;
  text-align: left;
  text-indent: 0.000000pt;
  margin-top: 0.000000pt;
  margin-bottom: 0.000000pt;
  margin-right: 0.000000pt;
  margin-left: 0.000000pt;
  font-size: 14.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Tahoma,Arial,Helvetica,sans-serif";
}

H1.CodeCaption, H2.CodeCaption, H3.CodeCaption, H4.CodeCaption, H5.CodeCaption, H6.CodeCaption {
  display: block;
  text-align: left;
  text-indent: 0.000000pt;
  margin-top: 10.000000pt;
  margin-bottom: 10.000000pt;
  margin-right: 0.000000pt;
  margin-left: 0.000000pt;
  font-size: 14.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Helvetica,Arial,sans-serif";
}

H1.Tip, H2.Tip, H3.Tip, H4.Tip, H5.Tip, H6.Tip {
  display: block;
  text-align: left;
  text-indent: 0.000000pt;
  margin-top: 4.000000pt;
  margin-bottom: 0.000000pt;
  margin-right: 0.000000pt;
  margin-left: 0.000000pt;
  font-size: 10.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Times,Times New Roman,serif";


A.link {
  color: blue;
  text-decoration: underline;
}

A.visited {
  color: purple;
  text-decoration: underline;
}

A.active {
  color: red;
  text-decoration: underline;
}

