<Server port="8005" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>

  <GlobalNamingResources>

    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml"/>

  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="@tomcat.connector.port@"
               maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
               enableLookups="true" redirectPort="8443" acceptCount="10"
               connectionTimeout="20000" disableUploadTimeout="true" />

    <Engine name="Standalone" defaultHost="localhost">

      <Realm  className="org.apache.catalina.realm.UserDatabaseRealm"
                  resourceName="UserDatabase" />

      <Host name="localhost" appBase="@out.tomcat.55.full.dir@/webapps">
      </Host>

    </Engine>

  </Service>

</Server>
