body {
	margin: 2% 10%;
	font: 12px/1.4 Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 { font-size: 20px; }
h2 { font-size: 16px; margin: 3em 0 0.5em; }
h3 { font-size: 14px; margin: 2em 0 0.5em; }
h4 { font-size: 12px; }
h5 { font-size: 11px; }
h6 { font-size: 10px; }

hr { color: #999999; height: 1px; }

img { border: none; }
th { text-align: left; }

.error { color: #FF0000; }
.icon { float: right; margin: 5px; }
.intro { font-size: 14px;  line-height: 1.6; font-weight: bold;} 
.label {	font-weight: bold; width: 260px; }
.result { width: 100%; background: #eef; }
