   body{
      margin: 0;
      background-color: #ffffff;
      top: 0;
      left: 0;
   }
   A:link {color:"blue";}
   A:visited {color:"light-blue";}
   A:hover {color:"red";}
   HR {color:"#CCCCCC";}

   H1 {font: 16pt "Gill Sans MT";
       color: black;}
   
   H2 {font: 14pt "Gill Sans MT, sans-serif";
   
      font-weight: bold;
      
      color: black}
   
      
   
   H3 {font: 12pt "Gill Sans MT, sans-serif"; 
   
      font-weight: bold;
   
      color: black;}
