<?xml version="1.0" encoding="ISO-8859-1"?>

<Server>

  <ContextManager home="@out.tomcat.32.dir@" debug="0" workDir="work" showDebugInfo="true" >

    <ContextInterceptor className="org.apache.tomcat.context.AutoSetup" />
    <ContextInterceptor className="org.apache.tomcat.context.WebXmlReader" />
    <ContextInterceptor className="org.apache.tomcat.context.LoaderInterceptor" />
    <ContextInterceptor className="org.apache.tomcat.context.DefaultCMSetter" />
    <ContextInterceptor className="org.apache.tomcat.context.WorkDirInterceptor" />
    <RequestInterceptor className="org.apache.tomcat.request.SessionInterceptor" noCookies="false" />
    <RequestInterceptor className="org.apache.tomcat.request.SimpleMapper1" debug="0" />
    <RequestInterceptor className="org.apache.tomcat.request.InvokerInterceptor" debug="0" prefix="/servlet/" />
    <RequestInterceptor className="org.apache.tomcat.request.StaticInterceptor" debug="0" suppress="false" />
    <RequestInterceptor className="org.apache.tomcat.session.StandardSessionInterceptor" />
    <RequestInterceptor className="org.apache.tomcat.request.AccessInterceptor" debug="0" />
    <RequestInterceptor className="org.apache.tomcat.request.SimpleRealm" debug="0" />
    <ContextInterceptor className="org.apache.tomcat.context.LoadOnStartupInterceptor" />
    <Connector className="org.apache.tomcat.service.PoolTcpConnector">
        <Parameter name="handler" value="org.apache.tomcat.service.http.HttpConnectionHandler"/>
        <Parameter name="port" value="9090"/>
    </Connector>
    <Connector className="org.apache.tomcat.service.PoolTcpConnector">
        <Parameter name="handler" value="org.apache.tomcat.service.connector.Ajp12ConnectionHandler"/>
        <Parameter name="port" value="8007"/>
    </Connector>
    <Context path="" docBase="" debug="0" />

  </ContextManager>
</Server>